# Backend
fastapi
uvicorn
pydantic

#Database
sqlmodel
psycopg2-binary

# Data Science
pandas
numpy
scikit-learn
xgboost
joblib

# NLP
sentence-transformers
transformers
torch

# Visualization
matplotlib

# langchain
langchain
langchain-google-genai
python-dotenv